.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.preloader .anim {
  color: #fff;
  font-size: 60px;
  text-align: center;
}
.preloader .pulse {
  -webkit-animation: float-img 0.3s ease infinite alternate;
  animation: float-img 0.3s ease infinite alternate;
}
.preloader .pulse:before {
  content: '';
  width: 50px;
  height: 10px;
  margin-left: -25px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  bottom: -25px;
  left: 50%;
  -webkit-animation: float-img-shadow 0.3s ease infinite alternate;
  animation: float-img-shadow 0.3s ease infinite alternate;
}
.preloader .pulse img {
  border-radius: 50%;
  width: 60%;
  background-image: url('/images/Eason-01.jpg');
}
.preloader.fade-out {
  opacity: 0;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  z-index: -999999;
}
.preloader-right {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 999;
  -webkit-transition: 0.6s 0.3s transform ease-in-out;
  transition: 0.6s 0.3s transform ease-in-out;
}
.preloader-right.slide-right {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  will-change: transform;
}
.menu-container {
  background: #f1f3f6;
  position: fixed;
  height: 2.5rem;
  width: 100%;
  top: -3.125rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}
.menu-container.showx {
  top: 0;
}
.menu-container ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.menu-container ul.menu li {
  padding: 0 0.5rem;
  display: inline-block;
  font-weight: 600;
  line-height: 2.5rem;
  color: #666;
  font-size: 14px;
  position: relative;
}
.menu-container ul.menu li::before {
  content: '';
  position: absolute;
  left: 8px;
  bottom: 8px;
  height: 2px;
  width: calc(100% - 16px);
  background-color: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.5s cubic-bezier(0.65, 0, 0.076, 1);
}
.menu-container ul.menu li:hover {
  cursor: pointer;
  color: #333;
}
.menu-container ul.menu li:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu-container ul.menu li.active {
  cursor: text;
  color: #333;
}
.menu-container ul.menu li.active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.menu-container ul.menu li#close {
  max-height: 2.5rem;
}
.menu-container ul.menu li#close i {
  font-size: 1.875rem;
}
.home {
  width: 100%;
  height: 100vh;
  z-index: 0;
  position: fixed;
  overflow-y: scroll;
  position: relative;
}
.home .color-block {
  position: relative;
  -webkit-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.5));
}
.home .color-block .house {
  position: absolute;
  width: 100px;
  height: 25px;
  shape-outside: polygon(0 0, 50% 0%, 90% 50%, 50% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 65% 0%, 80% 50%, 65% 100%, 0 100%);
  clip-path: polygon(0 0, 65% 0%, 80% 50%, 65% 100%, 0 100%);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.home .color-block .house.angular {
  background: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(50%, rgba(221, 0, 49, 0.7)),
    color-stop(50%, rgba(195, 0, 47, 0.7))
  );
  background: linear-gradient(0deg, rgba(221, 0, 49, 0.7) 50%, rgba(195, 0, 47, 0.7) 50%);
  right: 64px;
}
.home .color-block .house.react {
  background-color: rgba(97, 218, 251, 0.5);
  right: 36px;
}
.home .color-block .house.vue {
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, #35495e), to(#41b883));
  background: linear-gradient(90deg, #35495e 20%, #41b883 100%);
  right: 8px;
}
.home .color-block .house.backbone {
  background: linear-gradient(45deg, #0071b5 0%, #002a41 100%);
  right: -20px;
}
.home .copyright {
  position: fixed;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: 9;
  right: -83px;
  bottom: 143px;
}
.home .copyright span {
  color: #b2b1b133;
}
.home .name-block {
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  padding-top: 1.875rem;
  color: #fff;
}
.home .name-block .name-content h1,
.home .name-block .name-content h2 {
  line-height: 1.1;
  margin-bottom: 0.625rem;
  letter-spacing: 1px;
  text-transform: none;
}
.home .name-block .name-content h1 {
  font-size: 2.25rem;
  color: #eaeaea;
  text-shadow: 0.1em 0.1em 0.2em #333;
}
.home .name-block .name-content h1 span {
  display: block;
  font-weight: 300;
  min-height: 1.375rem;
  font-size: 1.375rem;
  text-transform: capitalize;
}
.home .name-block .name-content h2 {
  color: #c1c1c1;
  font-size: 1.375rem;
  text-shadow: 0.1em 0.1em 0.6em #333;
}
.home .name-block .name-content .intro {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  font-size: 0.9rem;
  color: #c1c1c1;
  text-shadow: 0.1em 0.1em 0.6em #333;
}
.home .name-block .name-content a.btn-download {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 1;
  overflow: hidden;
  color: #c1c1c1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.25rem;
  padding: 0;
}
.home .name-block .name-content a.btn-download::before {
  content: ' ';
  width: 63px;
  height: 1px;
  background-color: #c1c1c1;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.home .name-block .name-content a.btn-download span {
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1;
}
.home .name-block .name-content a.btn-download span small {
  display: block;
  position: relative;
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 600;
  line-height: 1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.home .name-block .name-content a.btn-download span small::before {
  font-size: 14px;
  color: #c1c1c1;
  font-weight: 600;
  position: absolute;
  top: 100%;
  line-height: 1;
  content: attr(data-hover);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.home .menu-blocks {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.home .menu-blocks.hidex {
  opacity: 0;
  visibility: hidden;
  z-index: -999;
}
.home .menu-blocks .menu-block {
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  width: 100%;
  height: auto;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  left: 0;
  top: 0;
  display: inline-block;
}
.home .menu-blocks .menu-block:hover {
  cursor: pointer;
}
.home .menu-blocks h2.menu-item {
  font-size: 1.25rem;
  line-height: 2em;
  margin: 1.5rem 0 1.5rem 2.5rem;
  display: block;
  font-weight: 600;
  color: #eaeaea;
}
.home .menu-blocks h2.menu-item:before {
  position: absolute;
  top: -1.25rem;
  left: -1.25rem;
  font-size: 0.875rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.home .menu-blocks h2.resume:before {
  content: '01';
}
.home .menu-blocks h2.portfolio:before {
  content: '02';
}
.home .menu-blocks h2.blog:before {
  content: '03';
}
.home .menu-blocks h2.contact:before {
  content: '04';
}
.home .content-blocks {
  position: fixed;
  height: 100vh;
  opacity: 0.5;
  overflow-x: hidden;
  overflow-y: scroll;
  top: 100%;
  background: #fff;
  -webkit-transition: opacity 0.7s ease-out;
  transition: opacity 0.7s ease-out;
  z-index: 1;
  width: 100%;
  left: 0;
}
.home .content-blocks.showx {
  opacity: 1;
  top: 0;
}
.home .content-blocks .content {
  position: relative;
  padding: 100px 20px 50px;
  height: auto;
  overflow: hidden;
}
.home .content-blocks .content .block-content:not(:last-child) {
  margin: 0 0 70px;
}
.home .content-blocks .content .block-content {
  overflow: hidden;
}
.home .content-blocks .content .block-content .block-title {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}
.home .content-blocks .content .block-content .block-title span {
  width: 100%;
  height: auto;
  display: block;
  padding-top: 15px;
}
.home .content-blocks .content .block-content .block-title span hr {
  border-bottom: 2px solid #000;
  width: 10%;
  margin: 0;
}
/* .home .content-blocks .content .block-content .subheading {
  font-size: 30px;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 30px;
  text-transform: none;
} */
.home .content-blocks .content .block-content .info-list {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
  margin: 20px 0;
  overflow: auto;
}
.home .content-blocks .content .block-content .info-list span {
  color: #333;
  font-weight: 400;
  margin-right: 5px;
}
.home .content-blocks .content .block-content .info-list div {
  padding-left: 0;
  padding-right: 0;
  letter-spacing: 0.5px;
}
.home .content-blocks .content .block-content .info-list a {
  text-decoration: none;
  color: inherit;
}
.home .content-blocks .content .block-content ul.skills {
  margin-bottom: 1.5rem;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.home .content-blocks .content .block-content ul.skills li {
  line-height: 1.5rem;
}
.home .content-blocks .content .block-content .portfolio-item:not(:last-child) {
  margin-bottom: 70px;
}
.home .content-blocks .content .block-content .portfolio-item .subtitle .github,
.home .content-blocks .content .block-content .portfolio-item .subtitle .demo {
  display: inline-block;
}
.home .content-blocks .content .block-content .portfolio-item .subtitle .github a,
.home .content-blocks .content .block-content .portfolio-item .subtitle .github i,
.home .content-blocks .content .block-content .portfolio-item .subtitle .demo a,
.home .content-blocks .content .block-content .portfolio-item .subtitle .demo i {
  color: #13ab67;
}
.home .content-blocks .content .block-content .portfolio-item .subtitle .github i,
.home .content-blocks .content .block-content .portfolio-item .subtitle .demo i {
  margin-right: 5px;
}
.home .content-blocks .content .block-content .portfolio-item .subtitle .demo::before {
  content: '|';
  margin: 0 5px;
}
.home .content-blocks .content .block-content .portfolio-item .desc {
  line-height: 1.5rem;
}
.home .content-blocks .content .block-content .portfolio-item .technology p {
  margin-bottom: 0;
}
.home .content-blocks .content .block-content .portfolio-item .technology li {
  line-height: 1.5;
}
.home .content-blocks .content .block-content .portfolio-item div {
  padding-left: 0;
  padding-right: 0;
}
.home .content-blocks .content .block-content .post {
  background-color: #fff;
}
.home .content-blocks .content .block-content .post:not(:first-child) {
  margin: 1rem 0;
}
.home .content-blocks .content .block-content .post .post-title {
  text-align: center;
}
.home .content-blocks .content .block-content .post .post-title h2 {
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.home .content-blocks .content .block-content .post .post-title h2:after {
  content: '';
  display: block;
  width: 40px;
  height: 2px;
  background: #333;
  margin: 20px auto;
}
.home .content-blocks .content .block-content .post .post-body {
  padding: 20px 0;
  text-align: center;
}
.home .content-blocks .content .block-content .post .post-body p {
  margin-bottom: 20px;
}
.home .content-blocks .content .block-content .post .post-body a.more {
  display: inline-block;
  border: 1.5px solid transparent;
  border-radius: 0;
  padding: 8px 20px;
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  color: #fff;
  background-color: #333;
  z-index: 20;
  letter-spacing: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.home .content-blocks .content .block-content .post .post-body a.more:hover {
  color: #666;
  background-color: #fff;
  border: 1.5px solid #666;
}
.home .content-blocks .content .block-content img.pic {
  border: 2px solid #333;
  border-radius: 50%;
  width: 50%;
  height: auto;
}
.home .content-blocks .content .block-content .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  width: 100%;
}
.home .content-blocks .content .block-content .contact-content .contact-icon {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-right: 10px;
}
.home .content-blocks .content .block-content .contact-content .contact-icon i {
  font-size: 30px;
  color: #666;
  line-height: inherit;
}
.home .content-blocks .content .block-content .contact-content .contact-details h5,
.home .content-blocks .content .block-content .contact-content .contact-details p {
  margin-bottom: 0;
  letter-spacing: 1px;
}
.home .content-blocks .content .block-content .contact-content .contact-details h5 {
  text-transform: capitalize;
}
.home .content-blocks .content .block-content .contact-content .contact-details p {
  line-height: 1.5rem;
}
.home .content-blocks .content .block-content .contact-content .contact-details p a {
  color: inherit;
}
.img-bg {
  background-image: url('/images/homepage.png');
  background-size: cover;
}
h2.menu-item {
  position: relative;
  margin: 50px;
  font-size: 28px;
  font-weight: 600;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
@media screen and (min-width: 768px) {
  .preloader .pulse:before {
    width: 60px;
    bottom: -30px;
  }
  .preloader .pulse img {
    width: 20%;
  }
  .home .color-block {
    position: relative;
  }
  .home .color-block .house {
    width: 125px;
    height: 50px;
  }
  .home .color-block .house.angular {
    right: 247px;
  }
  .home .color-block .house.react {
    right: 165px;
  }
  .home .color-block .house.vue {
    right: 83px;
  }
  .home .color-block .house.backbone {
    right: 1px;
  }
  .home .copyright {
    bottom: 112px;
  }
  .home .menu-blocks h2.menu-item {
    line-height: 3em;
    margin: 50px;
    margin-bottom: 0;
    font-size: 1.5rem;
  }
  .home .menu-blocks h2.menu-item:before {
    top: -2.5rem;
  }
  .home .menu-blocks h2.menu-item:after {
    position: absolute;
    content: '';
    top: 10px;
    left: -20px;
    width: 70px;
    height: 1px;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .home .name-block .name-content {
    width: 74vw;
  }
  .home .name-block .name-content h1,
  .home .name-block .name-content h2 {
    margin-bottom: 0.8rem;
  }
  .home .name-block .name-content a.btn-download:hover small {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .home .name-block .name-content a.btn-download:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .home .content-blocks .content {
    padding: 120px 50px 50px;
  }
  .home .content-blocks .content .block-content .portfolio-item .subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home .content-blocks .content .block-content .portfolio-item .subtitle .github {
    margin-left: 10px;
  }
  .home .content-blocks .content .block-content .portfolio-item .subtitle .demo:before {
    margin: 0 5px 0 8px;
  }
  .home .content-blocks .content .block-content img.pic {
    width: 35%;
  }
}
@media screen and (min-width: 992px) {
  .menu-container {
    width: 69.2%;
    left: 30%;
  }
  .menu-container ul.menu li {
    font-size: 16px;
  }
  .menu-container ul.menu li#close i {
    font-size: 2rem;
  }
  .menu-container.showx {
    right: 15px;
  }
  .home {
    overflow: hidden;
  }
  .home .name-block {
    position: absolute;
    border: none;
    left: 120px;
    top: 120px;
  }
  .home .name-block .name-content {
    display: inline-block;
  }
  .home .name-block .name-content h1,
  .home .name-block .name-content h2 {
    margin-bottom: 1rem;
  }
  .home .name-block .name-content h1 {
    font-size: 2.8rem;
  }
  .home .name-block .name-content h2 {
    font-size: 1.8rem;
  }
  .home .menu-blocks {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .home .menu-blocks .menu-block {
    width: 24.4vw;
    height: 25vh;
    background: rgba(50, 50, 50, 0.3);
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border: 1px solid rgba(193, 193, 193, 0.8);
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: 10px 0px 15px -4px rgba(0, 0, 0, 0.6), 0px 0px 0px 0px #fff;
    box-shadow: 10px 0px 15px -4px rgba(0, 0, 0, 0.6), 0px 0px 0px 0px #fff;
  }
  .home .menu-blocks .menu-block:hover.resume-block {
    border: 15px solid rgba(221, 0, 49, 0.4);
    background: rgba(177, 0, 30, 0.4);
  }
  .home .menu-blocks .menu-block:hover.portfolio-block {
    border: 15px solid rgba(95, 217, 250, 0.4);
    background: rgba(51, 198, 231, 0.4);
  }
  .home .menu-blocks .menu-block:hover.blog-block {
    border: 15px solid rgba(65, 184, 131, 0.4);
    background: rgba(21, 165, 112, 0.4);
  }
  .home .menu-blocks .menu-block:hover.contact-block {
    border: 15px solid rgba(0, 113, 181, 0.4);
    background: rgba(0, 94, 162, 0.4);
  }
  .home .menu-blocks .menu-block:hover h2.menu-item:before {
    top: -20px;
    left: -40px;
  }
  .home .menu-blocks .menu-block:hover h2.menu-item:after {
    top: 33px;
    left: -40px;
    width: 35px;
  }
  .home .menu-blocks .menu-block.portfolio-block,
  .home .menu-blocks .menu-block.blog-block {
    margin-left: calc(28.5vh + 1px);
  }
  .home .menu-blocks .menu-block.portfolio-block {
    margin-bottom: -1px;
  }
  .home .menu-blocks .menu-block.blog-block {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  .home .menu-blocks .menu-block.contact-block {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
    margin-bottom: 1px;
  }
  .home .menu-blocks .menu-block .resume-content,
  .home .menu-blocks .menu-block .portfolio-content,
  .home .menu-blocks .menu-block .blog-content,
  .home .menu-blocks .menu-block .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home .menu-blocks .menu-block h2.menu-item {
    margin: 40px 50px 0;
  }
  .home .menu-blocks .menu-block h2.menu-item.resume,
  .home .menu-blocks .menu-block h2.menu-item.portfolio {
    -webkit-transform: skew(-30deg);
    transform: skew(-30deg);
  }
  .home .menu-blocks .menu-block h2.menu-item.blog,
  .home .menu-blocks .menu-block h2.menu-item.contact {
    -webkit-transform: skew(30deg);
    transform: skew(30deg);
  }
  .home .content-blocks {
    width: 70%;
    left: 30%;
  }
  .home .content-blocks .content {
    padding: 120px 70px 30px;
  }
  .home .content-blocks .content .block-content ul.skills li {
    line-height: 2;
  }
  .home .content-blocks .content .block-content .portfolio-item .technology li {
    line-height: 2;
  }
  .home .content-blocks .content .block-content .contact-content .contact-icon i:hover {
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
  }
}
@media screen and (min-width: 1024px) {
  .home .name-block {
    top: 135px;
    left: 120px;
  }
  .home .name-block.reverse {
    left: 30px;
    height: 100vh;
  }
  .home .name-block.reverse .name-content {
    width: 25vw;
  }
  .home .name-block .name-content {
    width: 30vw;
  }
  .home .name-block .name-content h1 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
  }
  .home .name-block .name-content h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .home .name-block .name-content .intro {
    letter-spacing: 0;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1920px) {
  .home .content-blocks,
  .menu-container {
    right: 0;
    left: auto;
  }
  .home .name-block {
    left: 190px;
    top: 270px;
  }
  .home .name-block.reverse {
    width: 400px;
    left: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .home .name-block .name-content h1 {
    font-size: 3rem;
  }
  .home .menu-blocks .menu-block.portfolio-block,
  .home .menu-blocks .menu-block.blog-block {
    margin-left: calc(28.5vh + 3px);
  }
  .home .menu-blocks .menu-block h2.menu-item {
    margin-top: 70px;
  }
}
@-webkit-keyframes float-img {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes float-img {
  100% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes float-img-shadow {
  100% {
    -webkit-transform: scale(0.85, 0.85) translateY(10px);
    transform: scale(0.85, 0.85) translateY(10px);
  }
}
@keyframes float-img-shadow {
  100% {
    -webkit-transform: scale(0.85, 0.85) translateY(10px);
    transform: scale(0.85, 0.85) translateY(10px);
  }
}
@-webkit-keyframes bounce {
  0%,
  60%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.564, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.564, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}
@keyframes bounce {
  0%,
  60%,
  53%,
  80%,
  100% {
    -webkit-transition-timing-function: cubic-bezier(0.564, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.564, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  40% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -6px, 0);
    transform: translate3d(0, -6px, 0);
  }
  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Helvetica', 'Arial', 'LiHei Pro', 'Noto Sans TC', '微軟正黑體', sans-serif;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 2.2;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  color: #727272;
}
img {
  width: 100%;
  height: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
}
.mx-auto {
  margin: 0 auto;
}
